.idea/
target/
*.iml
.DS_Store
#.gitignore file should be added to the project BEFORE tracking the project with git
#git rm -r --cached <folder or file name> to remove unwanted folders or files retroactively